*{
  margin: 0;
  padding: 0;
}

#main {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
  justify-content: center;

}

.article {
  width: 100px;
  height: 200px;
  background: gray;
  margin: 20px;
}

